@model CollegeDTO

<form asp-action="Edit" asp-controller="College" method="post" class="form-control">

<div class="form-control">

    <label asp-for="Id" class="form-label"></label>
    <h1 class="card-header">@Model.Id</h1>
    <span asp-validation-for="Id" class="text-danger"></span>

</div>

<div class="form-control">

    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="input-group" />
    <span asp-validation-for="Name" class="text-danger"></span>

</div>

<div class="form-control">

    <label asp-for="UniversityName" class="form-label"></label>
        <select asp-for="UniversityId" class="form-select" required="true">
            <option value="@Model.UniversityId" selected="selected" disabled="disabled" hidden="hidden">@Model.UniversityName</option>
            @foreach (var item in ViewBag.universities)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    <span asp-validation-for="UniversityId" class="text-danger"></span>

</div>

    <input value="Save Changes" type="submit" class="btn btn-primary" />

</form>
@section validator{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
@*this section is to validate in client side and no need to go to server
*@