
@using  trial_project_for_MVC_Core.Models

@model List<UniversityDTO>


<table class="table bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    @{
        foreach (var item in Model)
        {
        <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Location</td>
        <td> <a asp-action="Details" asp-controller="University" class="btn btn-primary" asp-route-Id="@item.Id"> Details </a>  </td>
        <td> <a asp-action="Edit" asp-controller="University" class="btn btn-primary" onclick="ConfirmEdit(event)" asp-route-Id="@item.Id"> Edit </a>  </td>
        <td> <a asp-action="Delete" asp-controller="University" class="btn btn-danger" onclick="ConfirmDelete(event)" asp-route-Id="@item.Id"> Delete </a>  </td>
        </tr>
        }

}

    
@*    <td> <a asp-action="Edit" asp-controller="University" class="btn btn-primary" asp-route="university/edit/@item.Id">Edit </a>  </td>

*@
</table>

<div class="form-control">

    <a class="btn btn-outline-primary" asp-action="Add" asp-controller="University" > Add university </a>

</div>

<script>

    function ConfirmDelete()
    {
        document.getElementById("")
        var accept=confirm("Are You Sure?");
        if(accept==false){
            event.preventDefault();//pervent go to server
        }
    }

    function ConfirmEdit()
    {
        document.getElementById("")
        var accept = confirm("Are You Sure?");
        if (accept == false) {
            event.preventDefault();//pervent go to server
        }
    }

</script>
