
@using  trial_project_for_MVC_Core.Models

@model List<UniversityDTO>
welcome @User.Identity.Name

<table class="table bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    @{
        foreach (var item in Model)
        {
        <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Location</td>
        <td> <a asp-action="Details" asp-controller="University" class="btn btn-primary" asp-route-Id="@item.Id"> Details </a>  </td>
       @*<td> <input type="submit" value="show here" id="id" class="btn btn-success" onclick="AjaxCall(@item.Id)"> </td>*@
        <td> <a asp-action="Edit" asp-controller="University" class="btn btn-primary" onclick="ConfirmEdit(event)" asp-route-Id="@item.Id"> Edit </a>  </td>
        <td> <a asp-action="Delete" asp-controller="University" class="btn btn-danger" onclick="ConfirmDelete(event)" asp-route-Id="@item.Id"> Delete </a>  </td>
        </tr>
        }

}

    
@*    <td> <a asp-action="Edit" asp-controller="University" class="btn btn-primary" asp-route="university/edit/@item.Id">Edit </a>  </td>
    alternative to test when needed
*@
</table>

<div id="partial_details" class="page-item">


</div>

<div class="form-control">

    <a class="btn btn-outline-primary" asp-action="Add" asp-controller="University" > Add university </a>

</div>

<div class="form-control">

    <a class="btn btn-outline-danger" asp-action="Logout" asp-controller="Account"> Sign Out </a>

</div>
@*<script src ="~ /  /  /jquery.unobtrusive-ajax.js"></script>*@ @*ajax lib is missing from my library*@
<script>

 
    //function AjaxCall(Id){
    //    var Id=$("#id").val();
    //    $.ajax({
    //        url: "/University/PartialUniversityDetails",data: {"Id":Id},success:function(result){$("#partial_details").html(result);}
    //    }
    //    );
    //}

    function ConfirmDelete()
    {
        document.getElementById("")
        var accept=confirm("Are You Sure?");
        if(accept==false){
            event.preventDefault();//pervent go to server
        }
    }

    function ConfirmEdit()
    {
        document.getElementById("")
        var accept = confirm("Are You Sure?");
        if (accept == false) {
            event.preventDefault();//pervent go to server
        }
    }

</script>
